@charset "UTF-8";

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Misto;
  font-display: swap;
  src: url("../fonts/Misto-r.woff2") format("woff2"), url("../fonts/Misto-r.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #6e87bd;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.875rem;
}

.form__title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  text-align: center;
}

.form__button {
  padding: 12px 20px;
  width: 100%;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  border-radius: 3.125rem;
  border: 1px solid #d9d9d9;
  background-color: #6e87bd;
  color: #f5f5f5;
  -webkit-transition: border-color 0.5s ease, background-color 0.5s ease;
  transition: border-color 0.5s ease, background-color 0.5s ease;
}

.form__button:hover {
  border-color: rgba(245, 245, 245, 0.6);
  background-color: rgba(245, 245, 245, 0.6);
}

.form__error {
  color: red;
  font-size: 0.625rem;
  padding: 0.3125rem 1.5rem 0rem 1.5rem;
}

.button {
  display: block;
  text-align: center;
}

.button--fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 1px solid #d9d9d9;
  font-size: 1.125rem;
  border-radius: 12px;
}

.input._form-focus,
.input:hover {
  outline: none;
  border: 1px solid #6e87bd;
}

.input._form-error {
  border: 1px solid red;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: grey;
  font-size: 0.75rem;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: grey;
  font-size: 0.75rem;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: grey;
  font-size: 0.75rem;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: grey;
  font-size: 0.75rem;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  color: grey;
  font-size: 0.75rem;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  height: 6.25rem;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus-visible + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.checkbox__input:checked + .checkbox__label:before {
  background: #000;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
}

.checkbox__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
  max-width: 440px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #d9d9d9;
  color: black;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #6e87bd;
  stroke: #6e87bd;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup__close:hover {
  stroke: rgba(245, 245, 245, 0.6);
  border-color: rgba(245, 245, 245, 0.6);
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translateY(15%);
      -ms-transform: translateY(15%);
          transform: translateY(15%);
}

.title--white {
  color: white;
}

._watcher-view .title {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.secondary__title {
  color: #0c0c0c;
  font-weight: 500;
}

.show__more {
  margin-top: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem 0.75rem;
  color: #6e87bd;
  border-radius: 6.25rem;
  border: 1px solid #6e87bd;
  width: 7.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 6px 10px 0;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 6px 10px 0;
  color: #f5f5f5;
  background-color: #6e87bd;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 5;
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
  fill: #f5f5f5;
}

.header__logo:hover {
  fill: #d9d9d9;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  stroke: #f5f5f5;
  fill: transparent;
  -webkit-transition: stroke 0.5s ease;
  transition: stroke 0.5s ease;
}

.social__item:hover {
  stroke: #d9d9d9;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.010625rem;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.menu__link:hover {
  color: #d9d9d9;
}

.icon-menu {
  display: none;
}

.no-webp .footer{
  background-image: url("../img/line-top.jpg"); }

.footer {
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo__svg {
  width: 80px;
  height: 60px;
}

.footer__descr {
  display: block;
  font-weight: 600;
  line-height: 1.2;
  width: 200px;
  padding-top: 10px;
}

.footer__contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.footer__contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: 500;
  fill: #6e87bd;
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.footer__contact__link:hover {
  fill: rgba(245, 245, 245, 0.6);
}

.footer__create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.hero {
  min-height: 100vh;
  position: relative;
  text-transform: uppercase;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  text-align: center;
  font-weight: 800;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
          transform: translateY(20%);
}

._watcher-view .hero__title {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.hero__title--secondary {
  text-align: center;
  font-weight: 600;
  color: white;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
          transform: translateY(20%);
}

._watcher-view .hero__title--secondary {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.hero__img {
  padding: 1.25rem;
  background-color: rgba(245, 245, 245, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translateX(20%);
      -ms-transform: translateX(20%);
          transform: translateX(20%);
}

._watcher-view .hero__img {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.hero__button__box {
  max-width: 31.375rem;
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
          transform: translateY(20%);
}

._watcher-view .hero__button__box {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.hero__button__contact {
  border-radius: 6.25rem;
  border: 1px solid #f5f5f5;
  background-color: rgba(245, 245, 245, 0.6);
  width: 100%;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.hero__button__contact:hover {
  color: #f5f5f5;
  background-color: rgba(245, 245, 245, 0.3);
}

.hero__button__cv {
  color: #f5f5f5;
  border-radius: 6.25rem;
  border: 1px solid #f5f5f5;
  background-color: rgba(245, 245, 245, 0.2);
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.hero__button__cv:hover {
  color: #000;
  background-color: rgba(245, 245, 245, 0.6);
}

.no-webp .projects{
  background-image: url("../img/line.jpg"); }

.projects {
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90%;
  grid-template-columns: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__link {
  display: block;
  background-color: #6e87bd;
  border-radius: 6.25rem;
  color: #f5f5f5;
  padding-left: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #f5f5f5;
  border-radius: 6.25rem;
  border: 1px solid #f5f5f5;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.projects__link:hover {
  color: black;
  background-color: rgba(245, 245, 245, 0.6);
  border-color: #6e87bd;
}

.projects__item {
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translate(0px, 15%);
      -ms-transform: translate(0px, 15%);
          transform: translate(0px, 15%);
}

._watcher-view .projects__item {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

._watcher-view .projects__item:nth-child(1) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

._watcher-view .projects__item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

._watcher-view .projects__item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

._watcher-view .projects__item:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

._watcher-view .projects__item:nth-child(5) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

._watcher-view .projects__item:nth-child(6) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.skills {
  color: #000;
}

.skills__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.75rem;
}

.skills__list__box {
  padding: 2.75rem 1.25rem;
  background-color: #d9d9d9;
  border-radius: 3.125rem;
  width: 100%;
  max-width: 25rem;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
}

._watcher-view .skills__list__box {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.skills__list__box--right {
  -webkit-transform: translateX(20%);
      -ms-transform: translateX(20%);
          transform: translateX(20%);
}

.skills__list__box--left {
  -webkit-transform: translateX(-20%);
      -ms-transform: translateX(-20%);
          transform: translateX(-20%);
}

.skills__title {
  font-weight: 500;
  text-align: center;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.125rem;
}

.skills__icon {
  min-width: 0.75rem;
  max-width: 0.75rem;
  fill: #6e87bd;
}

@media (min-width: 29.99875em) {
  .footer__logo__svg {
    width: 100px;
    height: 80px;
  }

  .projects__list {
    -ms-grid-columns: 60%;
    grid-template-columns: 60%;
  }
}

@media (min-width: 37.5rem) {
  .hero__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 37.5rem) and (min-width: 81.875em) {
  .hero__container {
    gap: 4rem;
  }
}

@media (min-width: 47.99875em) {
  .title {
    text-align: center;
  }

  .show__more {
    display: none;
  }

  .social__menu {
    display: none;
  }

  .menu__link:before {
    content: "";
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0.125rem;
    background-color: #d9d9d9;
  }

  .menu__link:hover::before {
    width: 100%;
  }

  .footer__content {
    margin-bottom: 1.5rem;
  }

  .footer__logo__svg {
    width: 120px;
    height: 90px;
  }

  .hero__title {
    text-align: start;
  }

  .hero__title--secondary {
    text-align: start;
  }

  .projects__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .projects__list {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }

  .projects__link {
    width: 250px;
  }

  .skills__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 61.99875em) {
  .footer__logo__svg {
    width: 186px;
    height: 112px;
  }

  .skills__list__box {
    max-width: 32.625rem;
  }
}

@media (min-width: 62.5em) {
  .footer__contact__link {
    font-size: 1.125rem;
  }

  .hero__title--secondary {
    font-size: 2.875rem;
  }

  .projects__link {
    font-size: 1.625rem;
  }

  .projects__descr {
    font-size: 0.75rem;
  }
}

@media (min-width: 62.4375em) {
  .hero__title--secondary {
    font-size: 2.5rem;
  }
}

@media (min-width: 81.875em) {
  .flex-center {
    gap: 0.75rem;
  }

  .title {
    font-size: 4rem;
  }

  .title {
    margin-bottom: 3.4375rem;
  }

  .secondary__title {
    font-size: 2.5rem;
  }

  .header__container {
    min-height: 3.25rem;
  }

  .header__container {
    gap: 0.5rem;
  }

  .header__container {
    padding-top: 0.625rem;
  }

  .header__container {
    padding-bottom: 0.625rem;
  }

  .header__logo__svg {
    width: 3.75rem;
  }

  .header__logo__svg {
    height: 3.75rem;
  }

  .social__list {
    gap: 2.5rem;
  }

  .social__svg {
    width: 3.4375rem;
  }

  .social__svg {
    height: 3.4375rem;
  }

  .menu__list {
    -webkit-column-gap: 4.375rem;
       -moz-column-gap: 4.375rem;
            column-gap: 4.375rem;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .footer__container {
    padding-top: 3.75rem;
  }

  .footer__container {
    padding-bottom: 1.875rem;
  }

  .footer__container {
    padding-left: 5rem;
  }

  .footer__container {
    padding-right: 8.125rem;
  }

  .footer__descr {
    font-size: 1.5rem;
  }

  .footer__contact__list {
    margin-top: 1.5rem;
  }

  .footer__contact__list {
    margin-bottom: 2.25rem;
  }

  .footer__contact__link {
    font-size: 1.5rem;
  }

  .footer__create {
    font-size: 1.125rem;
  }

  .hero {
    padding-top: 10rem;
  }

  .hero {
    padding-bottom: 5rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__title {
    margin-bottom: 1rem;
  }

  .hero__title--secondary {
    margin-bottom: 2.5rem;
  }

  .hero__button__contact {
    padding-top: 1.375rem;
  }

  .hero__button__contact {
    padding-bottom: 1.375rem;
  }

  .hero__button__contact {
    font-size: 2rem;
  }

  .hero__button__contact {
    margin-bottom: 1.4375rem;
  }

  .hero__button__cv {
    padding-top: 0.75rem;
  }

  .hero__button__cv {
    padding-bottom: 0.75rem;
  }

  .hero__button__cv {
    font-size: 1.75rem;
  }

  .hero__button__cv {
    margin-bottom: 1.75rem;
  }

  .projects__container {
    padding-top: 7.5rem;
  }

  .projects__container {
    padding-bottom: 8.75rem;
  }

  .projects__list {
    gap: 1.125rem;
  }

  .projects__link {
    padding-top: 1.125rem;
  }

  .projects__link {
    padding-bottom: 1.125rem;
  }

  .projects__link {
    font-size: 1.75rem;
  }

  .projects__descr {
    font-size: 0.875rem;
  }

  .skills__container {
    padding-top: 5rem;
  }

  .skills__container {
    padding-bottom: 5rem;
  }

  .skills__title {
    font-size: 3rem;
  }

  .skills__list {
    gap: 1.5rem;
  }

  .skills__list--gap {
    gap: 0.875rem;
  }

  .skills__item {
    font-size: 1.5rem;
  }
}

@media (min-width: 450px) {
  .footer__descr {
    width: 260px;
  }
}

@media (min-width: 600px) and (min-width: 81.875em) {
  .hero__title {
    margin-top: 3.75rem;
  }
}

@media (min-width: 768px) {
  .footer__descr {
    width: 375px;
  }
}

@media (min-width: 850px) {
  .projects__link {
    width: 300px;
  }
}

@media (min-width: 900px) {
  .projects__link {
    width: 320px;
  }
}

@media (min-width: 1100px) {
  .projects__link {
    width: 375px;
  }
}

@media (min-width: 90em) {
  .hero__title--secondary {
    font-size: 4rem;
  }
}

@media (max-width: 20em) {
  .flex-center {
    gap: 0.375rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .title {
    margin-bottom: 1.75rem;
  }

  .secondary__title {
    font-size: 1.5rem;
  }

  .header__container {
    min-height: 1.375rem;
  }

  .header__container {
    gap: 0.3125rem;
  }

  .header__container {
    padding-top: 0.375rem;
  }

  .header__container {
    padding-bottom: 0.375rem;
  }

  .header__logo__svg {
    width: 2.5rem;
  }

  .header__logo__svg {
    height: 2.5rem;
  }

  .social__list {
    gap: 0.75rem;
  }

  .social__svg {
    width: 1.5rem;
  }

  .social__svg {
    height: 1.5rem;
  }

  .menu__link {
    font-size: 1.375rem;
  }

  .footer__container {
    padding-top: 2.5rem;
  }

  .footer__container {
    padding-bottom: 0.625rem;
  }

  .footer__container {
    padding-left: 0.3125rem;
  }

  .footer__container {
    padding-right: 1.25rem;
  }

  .footer__descr {
    font-size: 0.75rem;
  }

  .footer__contact__list {
    margin-top: 1.125rem;
  }

  .footer__contact__list {
    margin-bottom: 1.25rem;
  }

  .footer__contact__link {
    font-size: 0.75rem;
  }

  .footer__create {
    font-size: 0.75rem;
  }

  .hero {
    padding-top: 5rem;
  }

  .hero {
    padding-bottom: 2.5rem;
  }

  .hero__title {
    font-size: 1.5rem;
  }

  .hero__title {
    margin-bottom: 0.75rem;
  }

  .hero__title--secondary {
    margin-bottom: 1rem;
  }

  .hero__button__contact {
    padding-top: 0.625rem;
  }

  .hero__button__contact {
    padding-bottom: 0.625rem;
  }

  .hero__button__contact {
    font-size: 1.375rem;
  }

  .hero__button__contact {
    margin-bottom: 0.75rem;
  }

  .hero__button__cv {
    padding-top: 0.5rem;
  }

  .hero__button__cv {
    padding-bottom: 0.5rem;
  }

  .hero__button__cv {
    font-size: 1.125rem;
  }

  .hero__button__cv {
    margin-bottom: 1.125rem;
  }

  .projects__container {
    padding-top: 3.75rem;
  }

  .projects__container {
    padding-bottom: 3.75rem;
  }

  .projects__list {
    gap: 0.75rem;
  }

  .projects__link {
    padding-top: 0.75rem;
  }

  .projects__link {
    padding-bottom: 0.75rem;
  }

  .projects__link {
    font-size: 1.25rem;
  }

  .projects__descr {
    font-size: 0.625rem;
  }

  .skills__container {
    padding-top: 2.5rem;
  }

  .skills__container {
    padding-bottom: 2.5rem;
  }

  .skills__title {
    font-size: 1.5rem;
  }

  .skills__list {
    gap: 0.75rem;
  }

  .skills__list--gap {
    gap: 0.75rem;
  }

  .skills__item {
    font-size: 1.125rem;
  }
}

@media (max-width: 47.99875em) {
  .secondary__title {
    display: none;
  }

  .menu__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 1.875rem;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #6e87bd;
    padding: 5rem 0.9375rem 1.875rem 0.9375rem;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }

  .menu__link {
    font-size: 2.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #f5f5f5;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 37.4375rem) {
  .hero__img {
    margin-top: 1.25rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (gap: clamp( 0.375rem , 0.2537878788rem  +  0.6060606061vw , 0.75rem )) {
    .flex-center {
      gap: clamp( 0.375rem , 0.2537878788rem  +  0.6060606061vw , 0.75rem );
    }
}

@supports not (gap: clamp( 0.375rem , 0.2537878788rem  +  0.6060606061vw , 0.75rem )) {
    .flex-center {
      gap: calc(0.375rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.75rem , 1.0227272727rem  +  3.6363636364vw , 4rem )) {
    .title {
      font-size: clamp( 1.75rem , 1.0227272727rem  +  3.6363636364vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.0227272727rem  +  3.6363636364vw , 4rem )) {
    .title {
      font-size: calc(1.75rem + 2.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.75rem , 1.2045454545rem  +  2.7272727273vw , 3.4375rem )) {
    .title {
      margin-bottom: clamp( 1.75rem , 1.2045454545rem  +  2.7272727273vw , 3.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.75rem , 1.2045454545rem  +  2.7272727273vw , 3.4375rem )) {
    .title {
      margin-bottom: calc(1.75rem + 1.6875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.1767676768rem  +  1.6161616162vw , 2.5rem )) {
    .secondary__title {
      font-size: clamp( 1.5rem , 1.1767676768rem  +  1.6161616162vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.1767676768rem  +  1.6161616162vw , 2.5rem )) {
    .secondary__title {
      font-size: calc(1.5rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (min-height: clamp( 1.375rem , 0.7689393939rem  +  3.0303030303vw , 3.25rem )) {
    .header__container {
      min-height: clamp( 1.375rem , 0.7689393939rem  +  3.0303030303vw , 3.25rem );
    }
}

@supports not (min-height: clamp( 1.375rem , 0.7689393939rem  +  3.0303030303vw , 3.25rem )) {
    .header__container {
      min-height: calc(1.375rem + 1.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.3125rem , 0.2518939394rem  +  0.303030303vw , 0.5rem )) {
    .header__container {
      gap: clamp( 0.3125rem , 0.2518939394rem  +  0.303030303vw , 0.5rem );
    }
}

@supports not (gap: clamp( 0.3125rem , 0.2518939394rem  +  0.303030303vw , 0.5rem )) {
    .header__container {
      gap: calc(0.3125rem + 0.1875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.375rem , 0.2941919192rem  +  0.404040404vw , 0.625rem )) {
    .header__container {
      padding-top: clamp( 0.375rem , 0.2941919192rem  +  0.404040404vw , 0.625rem );
    }
}

@supports not (padding-top: clamp( 0.375rem , 0.2941919192rem  +  0.404040404vw , 0.625rem )) {
    .header__container {
      padding-top: calc(0.375rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.375rem , 0.2941919192rem  +  0.404040404vw , 0.625rem )) {
    .header__container {
      padding-bottom: clamp( 0.375rem , 0.2941919192rem  +  0.404040404vw , 0.625rem );
    }
}

@supports not (padding-bottom: clamp( 0.375rem , 0.2941919192rem  +  0.404040404vw , 0.625rem )) {
    .header__container {
      padding-bottom: calc(0.375rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (width: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem )) {
    .header__logo__svg {
      width: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem );
    }
}

@supports not (width: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem )) {
    .header__logo__svg {
      width: calc(2.5rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (height: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem )) {
    .header__logo__svg {
      height: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem );
    }
}

@supports not (height: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem )) {
    .header__logo__svg {
      height: calc(2.5rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.75rem , 0.1843434343rem  +  2.8282828283vw , 2.5rem )) {
    .social__list {
      gap: clamp( 0.75rem , 0.1843434343rem  +  2.8282828283vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.75rem , 0.1843434343rem  +  2.8282828283vw , 2.5rem )) {
    .social__list {
      gap: calc(0.75rem + 1.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (width: clamp( 1.5rem , 0.8737373737rem  +  3.1313131313vw , 3.4375rem )) {
    .social__svg {
      width: clamp( 1.5rem , 0.8737373737rem  +  3.1313131313vw , 3.4375rem );
    }
}

@supports not (width: clamp( 1.5rem , 0.8737373737rem  +  3.1313131313vw , 3.4375rem )) {
    .social__svg {
      width: calc(1.5rem + 1.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (height: clamp( 1.5rem , 0.8737373737rem  +  3.1313131313vw , 3.4375rem )) {
    .social__svg {
      height: clamp( 1.5rem , 0.8737373737rem  +  3.1313131313vw , 3.4375rem );
    }
}

@supports not (height: clamp( 1.5rem , 0.8737373737rem  +  3.1313131313vw , 3.4375rem )) {
    .social__svg {
      height: calc(1.5rem + 1.9375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.3345959596rem  +  0.202020202vw , 1.5rem )) {
    .menu__link {
      font-size: clamp( 1.375rem , 1.3345959596rem  +  0.202020202vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.3345959596rem  +  0.202020202vw , 1.5rem )) {
    .menu__link {
      font-size: calc(1.375rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem )) {
    .footer__container {
      padding-top: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.095959596rem  +  2.0202020202vw , 3.75rem )) {
    .footer__container {
      padding-top: calc(2.5rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem )) {
    .footer__container {
      padding-bottom: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.220959596rem  +  2.0202020202vw , 1.875rem )) {
    .footer__container {
      padding-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-left: clamp( 0.3125rem , -1.2026515152rem  +  7.5757575758vw , 5rem )) {
    .footer__container {
      padding-left: clamp( 0.3125rem , -1.2026515152rem  +  7.5757575758vw , 5rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -1.2026515152rem  +  7.5757575758vw , 5rem )) {
    .footer__container {
      padding-left: calc(0.3125rem + 4.6875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-right: clamp( 1.25rem , -0.9722222222rem  +  11.1111111111vw , 8.125rem )) {
    .footer__container {
      padding-right: clamp( 1.25rem , -0.9722222222rem  +  11.1111111111vw , 8.125rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , -0.9722222222rem  +  11.1111111111vw , 8.125rem )) {
    .footer__container {
      padding-right: calc(1.25rem + 6.875 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5075757576rem  +  1.2121212121vw , 1.5rem )) {
    .footer__descr {
      font-size: clamp( 0.75rem , 0.5075757576rem  +  1.2121212121vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5075757576rem  +  1.2121212121vw , 1.5rem )) {
    .footer__descr {
      font-size: calc(0.75rem + 0.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-top: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem )) {
    .footer__contact__list {
      margin-top: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem );
    }
}

@supports not (margin-top: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem )) {
    .footer__contact__list {
      margin-top: calc(1.125rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9267676768rem  +  1.6161616162vw , 2.25rem )) {
    .footer__contact__list {
      margin-bottom: clamp( 1.25rem , 0.9267676768rem  +  1.6161616162vw , 2.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9267676768rem  +  1.6161616162vw , 2.25rem )) {
    .footer__contact__list {
      margin-bottom: calc(1.25rem + 1 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5075757576rem  +  1.2121212121vw , 1.5rem )) {
    .footer__contact__link {
      font-size: clamp( 0.75rem , 0.5075757576rem  +  1.2121212121vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5075757576rem  +  1.2121212121vw , 1.5rem )) {
    .footer__contact__link {
      font-size: calc(0.75rem + 0.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem )) {
    .footer__create {
      font-size: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem )) {
    .footer__create {
      font-size: calc(0.75rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 5rem , 3.3838383838rem  +  8.0808080808vw , 10rem )) {
    .hero {
      padding-top: clamp( 5rem , 3.3838383838rem  +  8.0808080808vw , 10rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.3838383838rem  +  8.0808080808vw , 10rem )) {
    .hero {
      padding-top: calc(5rem + 5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem )) {
    .hero {
      padding-bottom: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem )) {
    .hero {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.0151515152rem  +  2.4242424242vw , 3rem )) {
    .hero__title {
      font-size: clamp( 1.5rem , 1.0151515152rem  +  2.4242424242vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.0151515152rem  +  2.4242424242vw , 3rem )) {
    .hero__title {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.75rem , 0.6691919192rem  +  0.404040404vw , 1rem )) {
    .hero__title {
      margin-bottom: clamp( 0.75rem , 0.6691919192rem  +  0.404040404vw , 1rem );
    }
}

@supports not (margin-bottom: clamp( 0.75rem , 0.6691919192rem  +  0.404040404vw , 1rem )) {
    .hero__title {
      margin-bottom: calc(0.75rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.5151515152rem  +  2.4242424242vw , 2.5rem )) {
    .hero__title--secondary {
      margin-bottom: clamp( 1rem , 0.5151515152rem  +  2.4242424242vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.5151515152rem  +  2.4242424242vw , 2.5rem )) {
    .hero__title--secondary {
      margin-bottom: calc(1rem + 1.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.3825757576rem  +  1.2121212121vw , 1.375rem )) {
    .hero__button__contact {
      padding-top: clamp( 0.625rem , 0.3825757576rem  +  1.2121212121vw , 1.375rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.3825757576rem  +  1.2121212121vw , 1.375rem )) {
    .hero__button__contact {
      padding-top: calc(0.625rem + 0.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.3825757576rem  +  1.2121212121vw , 1.375rem )) {
    .hero__button__contact {
      padding-bottom: clamp( 0.625rem , 0.3825757576rem  +  1.2121212121vw , 1.375rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.3825757576rem  +  1.2121212121vw , 1.375rem )) {
    .hero__button__contact {
      padding-bottom: calc(0.625rem + 0.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.172979798rem  +  1.0101010101vw , 2rem )) {
    .hero__button__contact {
      font-size: clamp( 1.375rem , 1.172979798rem  +  1.0101010101vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.172979798rem  +  1.0101010101vw , 2rem )) {
    .hero__button__contact {
      font-size: calc(1.375rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 0.75rem , 0.5277777778rem  +  1.1111111111vw , 1.4375rem )) {
    .hero__button__contact {
      margin-bottom: clamp( 0.75rem , 0.5277777778rem  +  1.1111111111vw , 1.4375rem );
    }
}

@supports not (margin-bottom: clamp( 0.75rem , 0.5277777778rem  +  1.1111111111vw , 1.4375rem )) {
    .hero__button__contact {
      margin-bottom: calc(0.75rem + 0.6875 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.5rem , 0.4191919192rem  +  0.404040404vw , 0.75rem )) {
    .hero__button__cv {
      padding-top: clamp( 0.5rem , 0.4191919192rem  +  0.404040404vw , 0.75rem );
    }
}

@supports not (padding-top: clamp( 0.5rem , 0.4191919192rem  +  0.404040404vw , 0.75rem )) {
    .hero__button__cv {
      padding-top: calc(0.5rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.4191919192rem  +  0.404040404vw , 0.75rem )) {
    .hero__button__cv {
      padding-bottom: clamp( 0.5rem , 0.4191919192rem  +  0.404040404vw , 0.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.4191919192rem  +  0.404040404vw , 0.75rem )) {
    .hero__button__cv {
      padding-bottom: calc(0.5rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 0.922979798rem  +  1.0101010101vw , 1.75rem )) {
    .hero__button__cv {
      font-size: clamp( 1.125rem , 0.922979798rem  +  1.0101010101vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.922979798rem  +  1.0101010101vw , 1.75rem )) {
    .hero__button__cv {
      font-size: calc(1.125rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (margin-bottom: clamp( 1.125rem , 0.922979798rem  +  1.0101010101vw , 1.75rem )) {
    .hero__button__cv {
      margin-bottom: clamp( 1.125rem , 0.922979798rem  +  1.0101010101vw , 1.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.125rem , 0.922979798rem  +  1.0101010101vw , 1.75rem )) {
    .hero__button__cv {
      margin-bottom: calc(1.125rem + 0.625 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.5378787879rem  +  6.0606060606vw , 7.5rem )) {
    .projects__container {
      padding-top: clamp( 3.75rem , 2.5378787879rem  +  6.0606060606vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.5378787879rem  +  6.0606060606vw , 7.5rem )) {
    .projects__container {
      padding-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 2.1338383838rem  +  8.0808080808vw , 8.75rem )) {
    .projects__container {
      padding-bottom: clamp( 3.75rem , 2.1338383838rem  +  8.0808080808vw , 8.75rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.1338383838rem  +  8.0808080808vw , 8.75rem )) {
    .projects__container {
      padding-bottom: calc(3.75rem + 5 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem )) {
    .projects__list {
      gap: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem );
    }
}

@supports not (gap: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem )) {
    .projects__list {
      gap: calc(0.75rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem )) {
    .projects__link {
      padding-top: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem );
    }
}

@supports not (padding-top: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem )) {
    .projects__link {
      padding-top: calc(0.75rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem )) {
    .projects__link {
      padding-bottom: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem );
    }
}

@supports not (padding-bottom: clamp( 0.75rem , 0.6287878788rem  +  0.6060606061vw , 1.125rem )) {
    .projects__link {
      padding-bottom: calc(0.75rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0883838384rem  +  0.8080808081vw , 1.75rem )) {
    .projects__link {
      font-size: clamp( 1.25rem , 1.0883838384rem  +  0.8080808081vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0883838384rem  +  0.8080808081vw , 1.75rem )) {
    .projects__link {
      font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.625rem , 0.5441919192rem  +  0.404040404vw , 0.875rem )) {
    .projects__descr {
      font-size: clamp( 0.625rem , 0.5441919192rem  +  0.404040404vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.5441919192rem  +  0.404040404vw , 0.875rem )) {
    .projects__descr {
      font-size: calc(0.625rem + 0.25 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem )) {
    .skills__container {
      padding-top: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem )) {
    .skills__container {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem )) {
    .skills__container {
      padding-bottom: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.6919191919rem  +  4.0404040404vw , 5rem )) {
    .skills__container {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.0151515152rem  +  2.4242424242vw , 3rem )) {
    .skills__title {
      font-size: clamp( 1.5rem , 1.0151515152rem  +  2.4242424242vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.0151515152rem  +  2.4242424242vw , 3rem )) {
    .skills__title {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.75rem , 0.5075757576rem  +  1.2121212121vw , 1.5rem )) {
    .skills__list {
      gap: clamp( 0.75rem , 0.5075757576rem  +  1.2121212121vw , 1.5rem );
    }
}

@supports not (gap: clamp( 0.75rem , 0.5075757576rem  +  1.2121212121vw , 1.5rem )) {
    .skills__list {
      gap: calc(0.75rem + 0.75 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.75rem , 0.7095959596rem  +  0.202020202vw , 0.875rem )) {
    .skills__list--gap {
      gap: clamp( 0.75rem , 0.7095959596rem  +  0.202020202vw , 0.875rem );
    }
}

@supports not (gap: clamp( 0.75rem , 0.7095959596rem  +  0.202020202vw , 0.875rem )) {
    .skills__list--gap {
      gap: calc(0.75rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem )) {
    .skills__item {
      font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem )) {
    .skills__item {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 61.875);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 81.875em) {
@supports ((-moz-column-gap: clamp( 1.5rem , -2.5735443342rem  +  8.4867717058vw , 4.375rem )) or (column-gap: clamp( 1.5rem , -2.5735443342rem  +  8.4867717058vw , 4.375rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.5rem , -2.5735443342rem  +  8.4867717058vw , 4.375rem );
         -moz-column-gap: clamp( 1.5rem , -2.5735443342rem  +  8.4867717058vw , 4.375rem );
              column-gap: clamp( 1.5rem , -2.5735443342rem  +  8.4867717058vw , 4.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5rem , -2.5735443342rem  +  8.4867717058vw , 4.375rem )) or (column-gap: clamp( 1.5rem , -2.5735443342rem  +  8.4867717058vw , 4.375rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.5rem + 2.875 * (100vw - 47.99875rem) / 33.87625);
         -moz-column-gap: calc(1.5rem + 2.875 * (100vw - 47.99875rem) / 33.87625);
              column-gap: calc(1.5rem + 2.875 * (100vw - 47.99875rem) / 33.87625);
    }
}
}

@media (min-width: 48em) and (max-width: 62.5em) {
@supports (font-size: clamp( 1rem , 0.5862068966rem  +  0.8620689655vw , 1.125rem )) {
    .footer__contact__link {
      font-size: clamp( 1rem , 0.5862068966rem  +  0.8620689655vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.5862068966rem  +  0.8620689655vw , 1.125rem )) {
    .footer__contact__link {
      font-size: calc(1rem + 0.125 * (100vw - 48rem) / 14.5);
    }
}

@supports (font-size: clamp( 1rem , -1.0689655172rem  +  4.3103448276vw , 1.625rem )) {
    .projects__link {
      font-size: clamp( 1rem , -1.0689655172rem  +  4.3103448276vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1rem , -1.0689655172rem  +  4.3103448276vw , 1.625rem )) {
    .projects__link {
      font-size: calc(1rem + 0.625 * (100vw - 48rem) / 14.5);
    }
}

@supports (font-size: clamp( 0.5rem , -0.3275862069rem  +  1.724137931vw , 0.75rem )) {
    .projects__descr {
      font-size: clamp( 0.5rem , -0.3275862069rem  +  1.724137931vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.5rem , -0.3275862069rem  +  1.724137931vw , 0.75rem )) {
    .projects__descr {
      font-size: calc(0.5rem + 0.25 * (100vw - 48rem) / 14.5);
    }
}
}

@media (min-width: 37.5rem) and (min-width: 20em) and (max-width: 81.875em) {
@supports (gap: clamp( 0.75rem , -0.3005050505rem  +  5.2525252525vw , 4rem )) {
    .hero__container {
      gap: clamp( 0.75rem , -0.3005050505rem  +  5.2525252525vw , 4rem );
    }
}

@supports not (gap: clamp( 0.75rem , -0.3005050505rem  +  5.2525252525vw , 4rem )) {
    .hero__container {
      gap: calc(0.75rem + 3.25 * (100vw - 20rem) / 61.875);
    }
}
}

@media (min-width: 37.5rem) and (max-width: 20em) {
  .hero__container {
    gap: 0.75rem;
  }
}

@media (min-width: 600px) and (min-width: 20em) and (max-width: 81.875em) {
@supports (margin-top: clamp( 0.0000000625rem , -1.2121211294rem  +  6.0606059596vw , 3.75rem )) {
    .hero__title {
      margin-top: clamp( 0.0000000625rem , -1.2121211294rem  +  6.0606059596vw , 3.75rem );
    }
}

@supports not (margin-top: clamp( 0.0000000625rem , -1.2121211294rem  +  6.0606059596vw , 3.75rem )) {
    .hero__title {
      margin-top: calc(0.0000000625rem + 3.7499999375 * (100vw - 20rem) / 61.875);
    }
}
}

@media (min-width: 600px) and (max-width: 20em) {
  .hero__title {
    margin-top: 0.0000000625rem;
  }
}

@media (min-width: 20em) and (max-width: 62.4375em) {
@supports (font-size: clamp( 1.375rem , 0.844808542rem  +  2.6509572901vw , 2.5rem )) {
    .hero__title--secondary {
      font-size: clamp( 1.375rem , 0.844808542rem  +  2.6509572901vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 0.844808542rem  +  2.6509572901vw , 2.5rem )) {
    .hero__title--secondary {
      font-size: calc(1.375rem + 1.125 * (100vw - 20rem) / 42.4375);
    }
}
}

@media (min-width: 74.9375em) and (max-width: 62.5em) {
@supports (font-size: clamp( 2.5rem , 4.7594221106rem  +  -3.0150753769vw , 2.875rem )) {
    .hero__title--secondary {
      font-size: clamp( 2.5rem , 4.7594221106rem  +  -3.0150753769vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 4.7594221106rem  +  -3.0150753769vw , 2.875rem )) {
    .hero__title--secondary {
      font-size: calc(2.5rem + 0.375 * (100vw - 74.9375rem) / -12.4375);
    }
}
}

@media (min-width: 75em) and (max-width: 90em) {
@supports (font-size: clamp( 3.375rem , 0.25rem  +  4.1666666667vw , 4rem )) {
    .hero__title--secondary {
      font-size: clamp( 3.375rem , 0.25rem  +  4.1666666667vw , 4rem );
    }
}

@supports not (font-size: clamp( 3.375rem , 0.25rem  +  4.1666666667vw , 4rem )) {
    .hero__title--secondary {
      font-size: calc(3.375rem + 0.625 * (100vw - 75rem) / 15);
    }
}
}

.webp .footer{ background-image: url(../img/line-top.webp); }

.webp .projects{ background-image: url(../img/line.webp); }